<h1>Books Catalog!</h1>
<p>This is my pet project. In this project I use technologies like this:</p> 
<ul>
  <li><strong>Angular</strong> </li>
  <li><strong>ASP.NET Core</strong> </li>
  <li><strong>MySQL</strong> </li>
</ul>
